<div id="dataDiv">
    <div id="dataBar" >
        <div id="dataBar-name">
             <h3 class="Bar-name">{{ abc_name }}数据</h3>
        </div>
        {%  include 'demo_LayerDiv.html' %}
        <div class="intro">
            <h4>数据显示</h4>
            <table id="trees" border="1" width="100%">
                <tr><th>经度</th><th>纬度</th><th>坐标组</th><th>备注</th></tr>
                <tr>
                    <td></td><td></td><td></td><td></td>
                </tr>

            </table>
        </div>
        <div class="intro">
            <h4>数据存档</h4>
            <p id= "savetrees"></p>
        </div>

    </div>
    <div id="dataToggle" class="ToggleLogoleftArrow">

    </div>
</div>
