<div class="tabbable" id="tabs-user">
	<ul class="nav nav-tabs">
		<li class="active">
			 <a href="#panel-agriculture" data-toggle="tab">农业</a>
		</li>
		<li>
			 <a href="#panel-forestry" data-toggle="tab">林业</a>
		</li>
		<li class="">
			 <a href="#panel-grass" data-toggle="tab">草牧业</a>
		</li>
	</ul>
	<div class="tab-content">
		<!--农业面板-->
		<div class="tab-pane active" id="panel-agriculture">
            <!--呼伦贝尔特泥河-->
			<div class="panel-group blocklist" id="panel-blocklist">
				<div class="blocklist-heading-Area">
					<a href="{% url 'tenihe:tenihemap' 1 %}" target="_blank"><span id="A_tnh" class="glyphicon glyphicon-map-marker" onclick="" style="cursor: pointer"></span></a>
					<span class="area_id" id="A_tnh" onclick="change_intro('tnh')" style="cursor: pointer">特泥河农牧场</span>
					<span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#listBar"
						  data-target="#panel-element-tnh"  style="float: right;cursor: pointer"></span>
				</div>
				<!--地块列表|特泥河三队-->
				<div id="panel-element-tnh" class="panel-collapse collapse in">
					<!--地块列表|特泥河三队抬头-->
					<div class="blocklist-heading" >
						<span id="B_tnh_03" class="glyphicon glyphicon-map-marker" onclick=""></span>
						<span class="block_id" id="B_tnh_03" onclick="change_intro('tnh_03')">特泥河农牧场三队</span>
						<span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
							  data-target="#panel-element-tnh_03" style="float: right"></span>
					</div>
					<!--地块列表|特泥河三队地块表格-->
					<div id="panel-element-tnh_03" class="panel-collapse collapse in">
						<table class="table table-condensed table-bordered">
							<tbody style="color: white">
                            <tr>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_01" style="cursor: pointer">0103001</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_02" style="cursor: pointer">0103002</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_03" style="cursor: pointer">0103003</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_04" style="cursor: pointer">0103004</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_05" style="cursor: pointer">0103005</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_06" style="cursor: pointer">0103006</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_07" style="cursor: pointer">0103007</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_08" style="cursor: pointer">0103008</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_09" style="cursor: pointer">0103009</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_10" style="cursor: pointer">0103010</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_11" style="cursor: pointer">0103011</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_12" style="cursor: pointer">0103012</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_13" style="cursor: pointer">0103013</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_14" style="cursor: pointer">0103014</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_15" style="cursor: pointer">0103015</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_16" style="cursor: pointer">0103016</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_17" style="cursor: pointer">0103017</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_18" style="cursor: pointer">0103018</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_19" style="cursor: pointer">0103019</span>
                                </td>
                                <td>
                                    <span class="cell_id" id="C_tnh_03_20" style="cursor: pointer">0103020</span>
                                </td>
                            </tr>



							</tbody>
						</table>
					</div>

				</div>
			</div>

		</div>
		<!--林业面板-->
		<div class="tab-pane" id="panel-forestry">
		</div>
		<!--牧业面板-->
		<div class="tab-pane" id="panel-grass">
		</div>
	</div>
</div>