<div class="panel-group" id="b-accordion">
    <div class="card-date panel">
        <div>
            <h5 class="date_title" id="C_tnh_08_04" data-toggle="collapse" data-parent="#b-accordion" href="#b-date4">2017-10-18</h5>
        </div>
        <div id="b-date4" class="collapse in">
            <div id="C_tnh_08_04_info">
                异常点数量为1个，正常。
            </div>
            <div id="C_tnh_08_04_img" class="date_img_div">
                <a href="{% url 'tenihe:tenihemap' '010801' %}"  target="_blank" data-toggle="tooltip" title="点击图标显示详细数据">
                <img class="date_img" src="/static/img/Thumbnail/0108_04_s.png" ></a>
            </div>
        </div>
    </div>
    <div class="card-date panel">
        <div>
             <h5 class="date_title" id="C_tnh_08_02" data-toggle="collapse" data-parent="#b-accordion" href="#b-date2">2017-08-30</h5>
        </div>
        <div id="b-date2" class="collapse">
            <div id="C_tnh_08_02_info">
                异常点数量为1个，正常。
            </div>
            <div id="C_tnh_08_02_img" class="date_img_div">
                <a href="{% url 'tenihe:tenihemap' '010802' %}"  target="_blank" data-toggle="tooltip" title="点击图标显示详细数据">
                <img class="date_img" src="/static/img/Thumbnail/0108_02_s.png" ></a>
            </div>
        </div>
    </div>
    <div class="card-date panel">
        <div>
             <h5 class="date_title" id="C_tnh_08_01" data-toggle="collapse" data-parent="#b-accordion" href="#b-date1">2017-08-16</h5>
        </div>
        <div id="b-date1" class="collapse">
            <div id="C_tnh_08_01_info">
                异常点数量为1个，正常。
            </div>
            <div id="C_tnh_08_01_img" class="date_img_div">
                <a href="{% url 'tenihe:tenihemap' '010804' %}"  target="_blank" data-toggle="tooltip" title="点击图标显示详细数据">
                <img class="date_img" src="/static/img/Thumbnail/0108_01_s.png" ></a>
            </div>
        </div>
    </div>
</div>