<div class="panel-group" id="c01-accordion">
    <div class="card-date panel">
        <div>
            <h5 class="date_title" id="D_tnh_08_001_04" data-toggle="collapse" data-parent="#c01-accordion" href="#c01-date4">2017-10-18</h5>
        </div>
        <div id="c01-date4" class="collapse in">
            <div id="D_tnh_08_001_04_info">
                异常点数量为1个，正常。
            </div>
            <div id="D_tnh_08_001_04_img" class="date_img_div">
                <a href="{% url 'tenihe:tenihemap' '010800104' %}"  target="_blank" data-toggle="tooltip" title="点击图标显示详细数据">
                <img class="date_img" src="/static/img/Dateimg/0108001_04_s.png" ></a>
            </div>
        </div>
    </div>
    <div class="card-date panel">
        <div>
             <h5 class="date_title" id="D_tnh_08_001_02" data-toggle="collapse" data-parent="#c01-accordion" href="#c01-date2">2017-08-30</h5>
        </div>
        <div id="c01-date2" class="collapse">
            <div id="D_tnh_08_001_02_info">
                异常点数量为1个，正常。
            </div>
            <div id="D_tnh_08_001_02_img" class="date_img_div">
                <a href="{% url 'tenihe:tenihemap' '010800102' %}"  target="_blank" data-toggle="tooltip" title="点击图标显示详细数据">
                <img class="date_img" src="/static/img/Dateimg/0108001_02_s.png" ></a>
            </div>
        </div>
    </div>
    <div class="card-date panel">
        <div>
             <h5 class="date_title" id="D_tnh_08_001_01" data-toggle="collapse" data-parent="#c01-accordion" href="#c01-date1">2017-08-16</h5>
        </div>
        <div id="c01-date1" class="collapse">
            <div id="D_tnh_08_001_01_info">
                异常点数量为1个，正常。
            </div>
            <div id="D_tnh_08_001_01_img" class="date_img_div">
                <a href="{% url 'tenihe:tenihemap' '010800101' %}"  target="_blank" data-toggle="tooltip" title="点击图标显示详细数据">
                <img class="date_img" src="/static/img/Dateimg/0108001_01_s.png" ></a>
            </div>
        </div>
    </div>
</div>