<div class="panel-group" id="c02-accordion">
    <div class="card-date panel">
        <div>
            <h5 class="date_title" id="D_tnh_08_002_04" data-toggle="collapse" data-parent="#c02-accordion" href="#c02-date4">2017-10-17</h5>
        </div>
        <div id="c02-date4" class="collapse in">
            <div id="D_tnh_08_002_04_info">
                异常点数量为1个，正常。
            </div>
            <div id="D_tnh_08_002_04_img" class="date_img_div">
                <a href="{% url 'tenihe:tenihemap' '010800204' %}"  target="_blank" data-toggle="tooltip" title="点击图标显示详细数据">
                <img class="date_img" src="/static/img/Dateimg/0108002_04_s.png" ></a>
            </div>
        </div>
    </div>
    <div class="card-date panel">
        <div>
             <h5 class="date_title" id="D_tnh_08_002_02" data-toggle="collapse" data-parent="#c02-accordion" href="#c02-date2">2017-08-30</h5>
        </div>
        <div id="c02-date2" class="collapse">
            <div id="D_tnh_08_002_02_info">
                异常点数量为1个，正常。
            </div>
            <div id="D_tnh_08_002_02_img" class="date_img_div">
                <a href="{% url 'tenihe:tenihemap' '010800202' %}"  target="_blank" data-toggle="tooltip" title="点击图标显示详细数据">
                <img class="date_img" src="/static/img/Dateimg/0108002_02_s.png" ></a>
            </div>
        </div>
    </div>
    <div class="card-date panel">
        <div>
             <h5 class="date_title" id="D_tnh_08_002_01" data-toggle="collapse" data-parent="#c02-accordion" href="#c02-date1">2017-08-16</h5>
        </div>
        <div id="c02-date1" class="collapse">
            <div id="D_tnh_08_001_02_info">
                异常点数量为1个，正常。
            </div>
            <div id="D_tnh_08_001_02_img" class="date_img_div">
                <a href="{% url 'tenihe:tenihemap' '010800201' %}"  target="_blank" data-toggle="tooltip" title="点击图标显示详细数据">
                <img class="date_img" src="/static/img/Dateimg/0108002_01_s.png" ></a>
            </div>
        </div>
    </div>
</div>