<div class="intropanel">
    <div id="sys_panel">
        <div class="card-lightgreen">
            <h3>呼伦贝尔农垦</h3>
            <p>
                呼伦贝尔农垦集团是一个最有条件、最有基础、最有特色、最有潜力、优势明显、后劲十足的大型国有农垦企业：
            </p>
            <ul>
                <li>一、资源丰富，有施业区面积3万平方公里，分布在呼伦贝尔9个旗市区境内，拥有600万亩耕地、1000万亩草场、40万亩林地、13万亩水面；</li>
                <li>二、规模大，辖24个县团级现代化农牧场和27个企事业单位，总人口17万，其中各类从业人员7.4万；</li>
                <li>三、组织化程度高，企业实行准军事化管理模式，是全国仅有的规模化、集约化垦区之一；</li>
                <li>四、农牧业机械装备能力强，采用世界最先进的大型农机设备为主，总动力74.2万千瓦，田间农业综合机械化水平达95%；</li>
                <li>五、科技实力雄厚，有各类专业技术人员4263人，农业科技贡献率71.38%，处于全国领先水平；</li>
                <li>六、区位优越，生态良好，适宜打造绿色有机农产品基地。</li>
            </ul>
        </div>
        <div class="card-orange">
            <h4>
                 单击列表跳转至该地区视野。
            </h4>
            <ul>
                <li>单击第一级列表显示农场</li>
                <li>单击第二级列表显示生产队</li>
                <li>单击第三级列表显示地块</li>
            </ul>
        </div>
        <div class="card-darkgreen">
            <ul>
                <li><span class="glyphicon glyphicon-map-marker"></span>：无数据，单击跳转地区信息图</li>
                <li><span class="glyphicon glyphicon-fullscreen"></span>：有数据，单击跳转地区高清图</li>

            </ul>
        </div>
    </div>


    <div id="Area_panel" style="display:none">
        <div class="card-midgreen">
            <h4>头条新闻</h4>
            <strong>2017-11-11</strong>
            <p id="area_new">
                今年特泥河农场粮食产量比去年增长20%！
            </p>
        </div>
        <div class="card-darkgreen">
            <h4>特泥河农牧场</h4>
            <strong>呼伦贝尔农垦</strong>
            <p id="coordinate"></p>
            <p id="area_intro">
                特泥河牧场地处陈巴尔虎旗东南部，在东经119°45'~120°55'、北纬49°13'~49°50'之间，平均海拔650米。
                地处呼伦贝尔盟陈巴尔虎旗东南部。场区东西长76公里。南：化宽66公里，总面积为1900平方公里，约占全旗总面积的8.97%。
                其中草原120万亩，可垦耕地67万亩，林地30万亩，水面5万亩，村屯道路6万亩，低洼沼泽地J0万亩，山岭砂地17万亩。
            </p>
        </div>
        <div class="card-lightgreen">
            <p>
                草原面积126万亩，耕地面积38万亩，人工林地面积1.9万亩。
            </p>
        </div>
        <div class="card-orange">
            <p>
                全场38万亩耕地全部实施免耕播种，5.48万耕地实现了抗旱节水灌溉；
                建成了以农业科技研发和新品种繁育推广为核心的科技试验示范园区一处，建成现代化农业样板队两个（二队、四队）。
                在测土配方施肥技术、水肥一体化技术、免耕滴灌铺管技术等方面积极积累了较好的经验。
                几年来，农机具更新度系数达到82%，全场拥有国内外先进农机具1207台（件），
                机械总动力达2.89万千瓦，有水泥晒场29万平方米，晒棚4万平方米。
            </p>
        </div>
    </div>

    <div id="Block_panel" style="display:none">
        <div class="card-darkgreen" >
            <h4 id="block_id">XX生产队</h4>
            <strong>特泥河农牧场</strong>
            <p id="block_intro">
                XX生产队介绍
            </p>
            <p id="block_data">
                XX生产队数据
            </p>
            <p  id="block_info">
                XX生产队信息
            </p>
        </div>
        <div class="card-midgreen">
            <h4>生产队新闻</h4>
            <strong>2017-11-11</strong>
            <p id="block_new">
                近日生产队大丰收
            </p>

        </div>
        {%  include 'Bdate.html' %}
    </div>
    <div id="Cell_panel" style="display:none">
        <div class="card-darkgreen">
            <h4><strong id="cell_id">XX生产队010x00x地块</strong> <small  id="cell_data" style="color: #f1f2f2"></small></h4>
            <strong id="cell_block"></strong>
            <p id="cell_intro">
                XX生产队010x00x地块情况
            </p>
            <p id="cell_newest">
                XX生产队010x00x地块情况
            </p>
        </div>

        <div class="manage_func_card card-midgreen">
            <div id="func_water" class="manage_func_btn"><span class="optionToolIcon glyphicon glyphicon-tint" ></span>水分值</div>
            <div id="func_organic" class="manage_func_btn"><span class="optionToolIcon glyphicon glyphicon-certificate" ></span>肥力值</div>
            <div id="func_patrol" class="manage_func_btn"><span class="optionToolIcon glyphicon glyphicon-camera" ></span>巡田率</div>
            <div id="func_insurance" class="manage_func_btn"><span class="optionToolIcon glyphicon glyphicon-exclamation-sign" ></span>报险处</div>
            <div id="func_emerge" class="manage_func_btn"><span class="optionToolIcon glyphicon glyphicon-leaf" ></span>出苗率</div>
            <div id="func_health" class="manage_func_btn"><span class="optionToolIcon glyphicon glyphicon-plus-sign" ></span>健康度</div>
            <div id="func_ill_crop" class="manage_func_btn"><span class="optionToolIcon glyphicon glyphicon-warning-sign" ></span>异常点</div>
            <div id="func_grow" class="manage_func_btn"><span class="optionToolIcon glyphicon glyphicon-tree-deciduous" ></span>成熟度</div>
        </div>
        <div>
            <div id="C01date" style="display: none">
                {% include 'C01date.html' %}
            </div>
            <div id="C02date" style="display: none">
                {% include 'C02date.html' %}
            </div>
        </div>
    </div>


</div>
