<div class="optionToolBar">
    <div id="Tool1" class="optionToolBlock">
        <span class="optionToolIcon glyphicon glyphicon-search" style="cursor: pointer"></span>
        <div class="optionToolLabel">搜索</div>
    </div>
    <div id="Tool2" class="optionToolBlock">
        <span class="optionToolIcon glyphicon glyphicon-question-sign" style="cursor: pointer"></span>
        <div class="optionToolLabel">帮助</div>
    </div>
    <div id="Tool3" class="optionToolBlock">
        <span class="optionToolIcon glyphicon glyphicon-list-alt" style="cursor: pointer"></span>
        <div class="optionToolLabel">报告</div>
    </div>
    <div id="Tool4" class="optionToolBlock">
        <span id="toGround" class="optionToolIcon glyphicon glyphicon-eject" style="cursor: pointer"></span>
        <div class="optionToolLabel">海拔</div>
    </div>
</div>