<div class="sys_func_card card-orange">
    <div id="Tool0" class="optionToolBlock">
        <a href="{% url 'index' %}">
            <span data-toggle="tooltip" title="返回首页" class="optionToolIcon glyphicon glyphicon-home"></span></a>
    </div>
    <div id="Tool1" class="optionToolBlock">
        <span data-toggle="tooltip" title="搜索" class="optionToolIcon glyphicon glyphicon-search" style="cursor: pointer"></span>

    </div>
    <div id="Tool2" class="optionToolBlock">
        <span data-toggle="tooltip" title="帮助" class="optionToolIcon glyphicon glyphicon-question-sign" style="cursor: pointer"></span>
    </div>
    <div id="Tool4" class="optionToolBlock">
        <span data-toggle="tooltip" title="去除高程" id="toGround" class="optionToolIcon glyphicon glyphicon-eject" style="cursor: pointer"></span>
    </div>
</div>