<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>特泥河</title>
    <link rel="shortcut icon" href="">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.structure.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tenihegis.css' %}" />

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/tenihe-option.js' %}"></script>
    <script src="{% static 'js/tenihe-jquery.js' %}"></script>
    <script src="{% static 'js/tenihe-blockfunc.js' %}"></script>
    <script src="{% static 'js/tenihe-jquery-ui.js' %}"></script>

    <link rel="stylesheet" href="https://js.arcgis.com/4.4/esri/css/main.css">
    <script src="https://js.arcgis.com/4.4/"></script>

    <script type="text/javascript">
    require([
        "esri/Map",
        "esri/views/SceneView",
        "esri/views/MapView",

        "esri/Graphic",
        "esri/geometry/Point",
        "esri/symbols/SimpleMarkerSymbol",
        "esri/geometry/Polyline",
        "esri/symbols/SimpleLineSymbol",
        "esri/geometry/Polygon",
        "esri/symbols/SimpleFillSymbol",

        "esri/symbols/PointSymbol3D",
        "esri/symbols/ObjectSymbol3DLayer",
        "esri/symbols/WebStyleSymbol",

        "esri/core/watchUtils",
        "esri/widgets/Expand",
        "esri/widgets/BasemapGallery",

        "dojo/dom",
        "dojo/query",
        "dojo/on",
        "dojo/promise/all",
        "dojo/domReady!"

    ], function (Map, SceneView, MapView,
                 Graphic, Point, SimpleMarkerSymbol, Polyline, SimpleLineSymbol, Polygon, SimpleFillSymbol,
                 PointSymbol3D,ObjectSymbol3DLayer,WebStyleSymbol,
                 watchUtils, Expand, BasemapGallery,
                 dom, query, on, all)
    {

        // Create a Map with a basemap, to be used with in the main view
        var mainMap = new Map({
            basemap: "hybrid",
            ground: "world-elevation"
        });

        // Create another Map, to be used in the overview "view"
        var overviewMap = new Map({
            basemap: "streets"
        });

        // Create the SceneView
        var mainView = new SceneView({
            container: "viewDiv",
            map: mainMap,
            camera: {
                position: {
                    x: 107,
                    y: 21,
                    z: 9000000
                },
                tilt: 10,
                heading: 0
            }

        });


        // 1-1.Create a point
        var areapoint_Hulbr = new Point(
                {longitude: 119.75307, latitude: 49.20679 }
        );
        // 1-2.Create a symbol for drawing the point
        var markerSymbol = new SimpleMarkerSymbol({
            color: [226, 119, 40],
            outline: {
                color: [255, 255, 255],
                width: 1
            }
        });
        // 1-2.1 Create attributes
        var attr_Hulbr = {
            Area: "呼伦贝尔农垦",
            Hectare: "300万公顷",
            Info: "呼伦贝尔农垦集团拥有众多特色和优势：" +
            "一、资源丰富，有施业区面积3万平方公里，" +
            "分布在呼伦贝尔9个旗市区境内，拥有600万亩耕地、1000万亩草场、40万亩林地、13万亩水面；" +
            "二、规模大，辖24个县团级现代化农牧场和27个企事业单位，总人口17万，其中各类从业人员7.4万；" +
            "三、组织化程度高，企业实行准军事化管理模式，是全国仅有的规模化、集约化垦区之一；" +
            "四、农牧业机械装备能力强，采用世界最先进的大型农机设备为主，总动力74.2万千瓦，田间农业综合机械化水平达95%；" +
            "五、科技实力雄厚，有各类专业技术人员4263人，农业科技贡献率71.38%，处于全国领先水平；" +
            "六、区位优越，生态良好，适宜打造绿色有机农产品基地。"
        };
        // 1-2.2 Create pop-up template
        var popupTemp_Hulbr = {
            title: "{Area}",
            content: "<h3>土地面积：<b>{Hectare}</b></h3>"+
                    "相关信息：<p>{Info}</p>"
        };
        // 1-3.Create a graphic and add the geometry and symbol to it
        var pointGraphic_Hulbr = new Graphic({
            geometry: areapoint_Hulbr,
            symbol: markerSymbol,
            attributes: attr_Hulbr,
            popupTemplate: popupTemp_Hulbr
        });
        // 1-4.Add the graphic to the view
        mainView.graphics.add(pointGraphic_Hulbr);


        function add_ill_tree(lng,lat){
            var tp = new Point({longitude: lng, latitude: lat});
            var webStyleSymbol_ill = new WebStyleSymbol({
                name: "Other",
                portal: {
                url: "https://www.arcgis.com"
                },
                styleName: "EsriRealisticTreesStyle"
            });
            var sur = Math.round(Math.random()*3000)/100;
            var attr_tree = {
                lng: lng,
                lat: lat,
                survive: sur
            };
            // Create pop-up template
            var popupTemp_tree = {
                title: "病树位置",
                content: "<h5>经度：<b>{lng}</b></h5>" +
                "<h5>纬度：<b>{lat}</b></h5>" +
                "<h5>健康度：<b>{survive}%</b></h5>"
            };
            var ptGra = new Graphic({
                geometry: tp,
                symbol: webStyleSymbol_ill,
                attributes: attr_tree,
                popupTemplate: popupTemp_tree
            });
            mainView.graphics.add(ptGra);

        }

        /*
            Area Outline
         */

        // 3-1.Create a polygon geometry
        // 3-2.Create a symbol for rendering the graphic
        // 3-3.Add the geometry and symbol to a new graphic
        // 3-4.Add the graphic to the view
        function add_polygon_area(cur_area){
            var fillSymbol_area = new SimpleFillSymbol({
                color: [255, 127, 36, 0.5],
                outline: {
                    color: [255, 255, 255],
                    width: 1
                }
            });
            var temp_polygon_area = new Polygon({
                rings: [cur_area]
            });
            var temp_polygonGraphic_area = new Graphic({
                geometry: temp_polygon_area,
                symbol: fillSymbol_area
            });
            mainView.graphics.removeAll();
            mainView.graphics.add(temp_polygonGraphic_area);
        }
        function add_polygon_block(cur_block){
            var fillSymbol_block = new SimpleFillSymbol({
                color: [0, 191, 255, 0.2],
                outline: {
                    color: [65, 105, 225],
                    width: 2
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block
            });
            mainView.graphics.removeAll();
            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function add_polygon_block_noclear(cur_block){
            var fillSymbol_block = new SimpleFillSymbol({
                color: [0, 191, 255, 0.2],
                outline: {
                    color: [65, 105, 225],
                    width: 2
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block
            });
            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function add_polygon_block_nocolor(cur_block){
            var fillSymbol_block_nocolor = new SimpleFillSymbol({
                color: [0, 0, 0, 0],
                outline: {
                    color: [65, 105, 225],
                    width: 2
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block_nocolor
            });
            mainView.graphics.removeAll();
            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function add_polygon_block_warn(cur_block){
            var fillSymbol_block_warn = new SimpleFillSymbol({
                color: [255, 0, 0, 0.5],
                outline: {
                    color: [255, 0, 0],
                    width: 2
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block_warn
            });

            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function add_polygon_block_ng(cur_block){
            var fillSymbol_block_warn = new SimpleFillSymbol({
                color: [255, 255, 0, 0.5],
                outline: {
                    color: [255, 255, 0],
                    width: 2
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block_warn
            });

            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function add_polygon_block_ok(cur_block){
            var fillSymbol_block_warn = new SimpleFillSymbol({
                color: [10, 255, 10, 0.3],
                outline: {
                    color: [255, 255, 255],
                    width: 2
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block_warn
            });

            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function remove_polygon_all(){
            mainView.graphics.removeAll();
        }
        function add_polygon_block_500(cur_block){
            var fillSymbol_block_warn = new SimpleFillSymbol({
                color: [255, 255, 0, 0.5],
                outline: {
                    color: [255, 255, 0],
                    width: 3
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block_warn
            });

            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function add_polygon_block_800(cur_block){
            var fillSymbol_block_warn = new SimpleFillSymbol({
                color: [255,130,71, 0.5],
                outline: {
                    color: [255,130,71],
                    width: 3
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block_warn
            });

            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function add_polygon_Cell(cur_block,cur_Cell,area,block,Cell){
            var fillSymbol_Cell = new SimpleFillSymbol({
                color: [0, 255, 127, 0.2],
                outline: {
                    color: [0, 255, 127],
                    width: 1
                }
            });
            var fillSymbol_block = new SimpleFillSymbol({
                color: [0, 0, 0, 0],
                outline: {
                    color: [65, 105, 225],
                    width: 2
                }
            });
            var temp_polygon_Cell = new Polygon({
                rings: [cur_Cell]
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var trees = Math.round(Math.random()*1000)+1500;
            var ill_trees = Math.round(Math.random()*10);
            var pertemp = Math.round((ill_trees/trees)*100)/100;
            var nwp = cur_Cell[0],sep = cur_Cell[2];
            //alert(nwp+"|"+nwp[0]+","+nwp[1]);
            var attr_Cell = {
                Area: area,
                Block: block,
                Cell: Cell,
                Tree_name: "棕榈树",
                Tree_count: trees,
                Ill_Tree_count: ill_trees,
                ILL_percent: pertemp+"%",
                north:Math.round(nwp[1]*10000)/10000,
                south:Math.round(sep[1]*10000)/10000,
                west:Math.round(nwp[0]*10000)/10000, 
                east:Math.round(sep[0]*10000)/10000
            };

            var popupTemp_Cell = {
                title: "{Area}地块{Block}区域{Cell}",
                content: "<h5>树种：{Tree_name}</h5>" +
                "<h5>程度：{Tree_count}</h5>" +
                "<h5>病数：{Ill_Tree_count}</h5>" +
                "<h5>比例：{ILL_percent}</h5>" +
                "<h5>经度范围：{west} —— {east}</h5>" +
                "<h5>纬度范围：{south} —— {north}</h5>"
            };
            var temp_polygonGraphic_Cell = new Graphic({
                geometry: temp_polygon_Cell,
                symbol: fillSymbol_Cell,
                attributes: attr_Cell,
                popupTemplate: popupTemp_Cell
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block
            });
            mainView.graphics.removeAll();
            mainView.graphics.add(temp_polygonGraphic_block);
            mainView.graphics.add(temp_polygonGraphic_Cell);
        }


        function add_polygon_Cell_a(cur_block,cur_Cell,stat,sq,illsq,area,block,Cell){
            var fillSymbol_Cell_ok = new SimpleFillSymbol({
                color: [0, 255, 127, 0.6],
                outline: {
                    color: [0, 255, 127],
                    width: 1
                }
            });
            var fillSymbol_Cell_ng = new SimpleFillSymbol({
                color: [255, 255, 0, 0.6],
                outline: {
                    color: [255, 255, 0],
                    width: 1
                }
            });
            var fillSymbol_Cell_warn = new SimpleFillSymbol({
                color: [255, 128, 0, 0.6],
                outline: {
                    color: [255, 128, 0],
                    width: 1
                }
            });
            var fillSymbol_Cell_danger = new SimpleFillSymbol({
                color: [255, 0, 0, 0.6],
                outline: {
                    color: [255, 0, 0],
                    width: 1
                }
            });
            var fillSymbol_block = new SimpleFillSymbol({
                color: [127, 255, 127, 0.4],
                outline: {
                    color: [255, 255, 255],
                    width: 2
                }
            });

            var temp_polygon_Cell = new Polygon({
                rings: [cur_Cell]
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var trees = Math.round(sq*0.015);
            var ill_trees = Math.round(illsq*0.015);
            var pertemp = Math.round((ill_trees/trees)*10000)/100;
            var fillSymbol_Cell;
            if(pertemp>=70){
                fillSymbol_Cell = fillSymbol_Cell_danger
            }
            else if(pertemp >= 50){
                fillSymbol_Cell = fillSymbol_Cell_warn
            }
            else if(pertemp >= 30){
                fillSymbol_Cell = fillSymbol_Cell_ng
            }
            else{
                fillSymbol_Cell = fillSymbol_Cell_ok
            }
            var nwp = cur_Cell[0],sep = cur_Cell[2];
            //alert(nwp+"|"+nwp[0]+","+nwp[1]);
            var attr_Cell = {
                Area: area,
                Block: block,
                Cell: Cell,
                Tree_name: "水稻",
                Tree_count: trees,
                Ill_Tree_count: ill_trees,
                ILL_percent: pertemp+"%",
                north:Math.round(nwp[1]*10000)/10000,
                south:Math.round(sep[1]*10000)/10000,
                west:Math.round(nwp[0]*10000)/10000,
                east:Math.round(sep[0]*10000)/10000
            };

            var popupTemp_Cell = {
                title: "{Area}地块{Block}区域{Cell}",
                content: "<h5>作物：{Tree_name}</h5>" +
                "<h5>单元面积：{Tree_count}亩</h5>" +
                "<h5>异常面积：{Ill_Tree_count}亩</h5>" +
                "<h5>比例：{ILL_percent}</h5>" +
                "<h5>经度范围：{west} —— {east}</h5>" +
                "<h5>纬度范围：{south} —— {north}</h5>"
            };
            var temp_polygonGraphic_Cell = new Graphic({
                geometry: temp_polygon_Cell,
                symbol: fillSymbol_Cell,
                attributes: attr_Cell,
                popupTemplate: popupTemp_Cell
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block
            });
            mainView.graphics.removeAll();
            mainView.graphics.add(temp_polygonGraphic_block);
            mainView.graphics.add(temp_polygonGraphic_Cell);
        }




        var tnh = [];
        var tnh_03 = [
            [120.40975,49.36626],[120.4674,49.39687],[120.56073,49.31138],[120.48882,49.29457]];
        var tnh_04 = [
            [120.2399, 49.49088], [120.27198, 49.51355],[120.32481, 49.52914],[120.38287, 49.45663],[120.33753, 49.42044],
            [120.28902, 49.41287]];
        var tnh_06 = [
            [120.22189, 49.41015], [120.23898, 49.41534], [120.23147, 49.43171], [120.26356, 49.43611], [120.27729, 49.4081],
            [120.25944, 49.40608], [120.2631, 49.38216], [120.33234, 49.37631], [120.32208, 49.35812], [120.30669, 49.35526],
            [120.30728, 49.34579], [120.25107, 49.33513], [120.23125, 49.3756]];
        var tnh_08a = [
            [120.22994, 49.57055], [120.2501, 49.58192], [120.30945, 49.54356], [120.34047, 49.5577],
            [120.35718, 49.5593], [120.37843, 49.54], [120.37281, 49.51609], [120.34927, 49.51518], [120.32943, 49.53383],
            [120.30278, 49.52701], [120.2805, 49.52367], [120.25564, 49.5547]];
		var tnh_08b = [
            [120.25694, 49.62599], [120.32652, 49.64011], [120.34339, 49.6048], [120.31901, 49.59246], [120.28994, 49.59662],
            [120.2678, 49.61158]];
		var tnh_09 = [
			[120.10231, 49.44559], [120.11555, 49.4448], [120.11629, 49.41988], [120.16851, 49.43285], [120.1507, 49.4714],
            [120.13256, 49.49247], [120.16824, 49.51476], [120.19524, 49.50932], [120.19601, 49.49144], [120.19017, 49.47577],
            [120.18844, 49.43187], [120.22108, 49.40589], [120.21848, 49.38621], [120.20422, 49.37986], [120.17241, 49.40685],
            [120.09059, 49.39507]];
        var tnh_10a = [
            [120.60338, 49.68], [120.61435, 49.70195], [120.69745, 49.69928], [120.7815, 49.68344], [120.78245, 49.67375],
            [120.76605, 49.65848], [120.71891, 49.65437], [120.66971, 49.63692], [120.66147, 49.64528], [120.65686, 49.65358],
            [120.61361, 49.66147]];
		var tnh_10b = [
            [120.65368, 49.77403], [120.68943, 49.78378], [120.69849, 49.77244], [120.66152, 49.76251]];
        var tnh_11a = [
            [119.99421, 49.47686], [120.02324, 49.47862], [120.07951, 49.4574], [120.08011, 49.44442], [120.04727, 49.44285],
            [120.05152, 49.42377], [120.0061, 49.42168]];
        var tnh_11b = [
            [120.0457, 49.5192], [120.05079, 49.53948], [120.07715, 49.54936], [120.09529, 49.55071], [120.10729, 49.54353],
            [120.09185, 49.52642], [120.11182, 49.50587], [120.07067, 49.49576]];




        mainView.then(function() {

        });

        // Create the MapView for overview map
        var mapView = new MapView({
            container: "overviewDiv",
            map: overviewMap
        });

        // Remove the default widgets
        mapView.ui.components = [];

        var extentDiv = dom.byId("extentDiv");

        mapView.then(function() {
            // Update the overview extent whenever the MapView or SceneView extent changes
            mainView.watch("extent", updateOverviewExtent);
            mapView.watch("extent", updateOverviewExtent);

            // Update the minimap overview when the main view becomes stationary
            watchUtils.when(mainView, "stationary", updateOverview);

            function updateOverview() {
                // Animate the MapView to a zoomed-out scale so we get a nice overview.
                // We use the "progress" call back of the goTo promise to update
                // the overview extent while animating
                mapView.goTo({
                    center: mainView.center,
                    scale: mainView.scale * 2 * Math.max(mainView.width /
                        mapView.width,
                        mainView.height / mapView.height)
                });
            }

            function updateOverviewExtent() {
                // Update the overview extent by converting the SceneView extent to the
                // MapView screen coordinates and updating the extentDiv position.
                var extent = mainView.extent;

                var bottomLeft = mapView.toScreen(extent.xmin, extent.ymin);
                var topRight = mapView.toScreen(extent.xmax, extent.ymax);

                extentDiv.style.top = topRight.y + "px";
                extentDiv.style.left = bottomLeft.x + "px";

                extentDiv.style.height = (bottomLeft.y - topRight.y) + "px";
                extentDiv.style.width = (topRight.x - bottomLeft.x) + "px";
            }
        });
        // Create a BasemapGallery widget instance and set
        // its container to a div element

        var basemapGallery = new BasemapGallery({
            view: mainView,
            container: document.createElement("div")
        });

        // Create an Expand instance and set the content
        // property to the DOM node of the basemap gallery widget
        // Use an Esri icon font to represent the content inside
        // of the Expand widget

        var bgExpand = new Expand({
            view: mainView,
            content: basemapGallery.domNode,
            expandIconClass: "esri-icon-basemap"
        });

        // Add the expand instance to the ui

        mainView.ui.add(bgExpand, "top-right");

        on(dojo.query("#A_tnh_hlt"), "click", function() {
            mainView.goTo({position: [120.41842, 49.51816,100000], heading: 0, tilt: 0});
            add_polygon_block(tnh_03);
            add_polygon_block_noclear(tnh_04);
            add_polygon_block_noclear(tnh_06);
            add_polygon_block_noclear(tnh_08a);
            add_polygon_block_noclear(tnh_08b);
            add_polygon_block_noclear(tnh_09);
            add_polygon_block_noclear(tnh_10a);
            add_polygon_block_noclear(tnh_10b);
            add_polygon_block_noclear(tnh_11a);
            add_polygon_block_noclear(tnh_11b);

        });

        on(dojo.query("#B_tnh_03_hlt"), "click", function() {
            mainView.goTo({position: [ 120.49009, 49.35245,20000], heading: 0, tilt: 0});
            add_polygon_block(tnh_03);
        });
        on(dojo.query("#B_tnh_04_hlt"), "click", function() {
            mainView.goTo({position: [ 120.32225, 49.46144,20000], heading: 0, tilt: 0});
            add_polygon_block(tnh_04);
        });
        on(dojo.query("#B_tnh_06_hlt"), "click", function() {
            mainView.goTo({position: [ 120.26319, 49.38249,20000], heading: 0, tilt: 0});
            add_polygon_block(tnh_06);
        });
        on(dojo.query("#B_tnh_08_hlt"), "click", function() {
            mainView.goTo({position: [ 120.3245, 49.54047,20000], heading: 0, tilt: 0});
            add_polygon_block(tnh_08a);
            add_polygon_block_noclear(tnh_08b);
        });
        on(dojo.query("#B_tnh_09_hlt"), "click", function() {
            mainView.goTo({position: [ 120.17146, 49.44416,20000], heading: 0, tilt: 0});
            add_polygon_block(tnh_09);
        });
        on(dojo.query("#B_tnh_10_hlt"), "click", function() {
            mainView.goTo({position: [ 120.65274, 49.6877,20000], heading: 0, tilt: 0});
            add_polygon_block(tnh_10a);
            add_polygon_block_noclear(tnh_10b);
        });
        on(dojo.query("#B_tnh_11_hlt"), "click", function() {
            mainView.goTo({position: [ 120.02275, 49.47933,20000], heading: 0, tilt: 0});
            add_polygon_block(tnh_11a);
            add_polygon_block_noclear(tnh_11b);
        });




        mainView.on('click', function(evt){
           if(evt.mapPoint){
               var x = Math.round(evt.mapPoint.longitude * 100000)/100000;
               var y = Math.round(evt.mapPoint.latitude * 100000)/100000;
               var z = Math.round(evt.mapPoint.z * 100)/100;
               var loc = document.getElementById("curloc");
               loc.innerHTML = '鼠标单击位置：经纬度 [' + x + ', ' + y + '], 海拔' + z + 'm';
               var tempco = document.getElementById("coordinate");
               tempco.innerHTML = tempco.innerHTML +'[' + x + ', ' + y + '], ';
           }
        });

        istoGround = false;
        on(dojo.query("#toGround"), "click", updateElevation);
        function updateElevation(ev) {
          // Turn ground layers visibility on/off
          mainMap.ground.layers.forEach(function(layer) {
            layer.visible = istoGround;
              if(!istoGround){
                  istoGround = true;
              }else if(istoGround){
                  istoGround = false;
              }else{
                  istoGround = undefined
              }
          });
        }
    });

    </script>

</head>

<body>
    <div id="viewDiv">
    </div>
    {% include 'InfoDiv.html' %}
    <div id="curcordDiv">
        <p id="curloc">鼠标单击位置：经纬度( ---.----, ---.---- ), 海拔---.--m</p>
    </div>
    <div id="overviewDiv">
        <div id="extentDiv"></div>
    </div>
    {% include 'LIstDiv.html' %}

</body>
</html>