<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>特泥河</title>
    <link rel="shortcut icon" href="">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.structure.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tenihegis.css' %}" />

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/tenihe-option.js' %}"></script>
    <script src="{% static 'js/tenihe-jquery.js' %}"></script>
    <script src="{% static 'js/tenihe-blockfunc.js' %}"></script>
    <script src="{% static 'js/tenihe-jquery-ui.js' %}"></script>

    <link rel="stylesheet" href="https://js.arcgis.com/4.4/esri/css/main.css">
    <script src="https://js.arcgis.com/4.4/"></script>

    <script type="text/javascript">
    require([
        "esri/Map",
        "esri/views/SceneView",
        "esri/views/MapView",

        "esri/Graphic",
        "esri/geometry/Point",
        "esri/symbols/SimpleMarkerSymbol",
        "esri/geometry/Polyline",
        "esri/symbols/SimpleLineSymbol",
        "esri/geometry/Polygon",
        "esri/symbols/SimpleFillSymbol",

        "esri/symbols/PointSymbol3D",
        "esri/symbols/ObjectSymbol3DLayer",
        "esri/symbols/WebStyleSymbol",

        "esri/core/watchUtils",
        "esri/widgets/Expand",
        "esri/widgets/BasemapGallery",

        "dojo/dom",
        "dojo/query",
        "dojo/on",
        "dojo/promise/all",
        "dojo/domReady!"

    ], function (Map, SceneView, MapView,
                 Graphic, Point, SimpleMarkerSymbol, Polyline, SimpleLineSymbol, Polygon, SimpleFillSymbol,
                 PointSymbol3D,ObjectSymbol3DLayer,WebStyleSymbol,
                 watchUtils, Expand, BasemapGallery,
                 dom, query, on, all)
    {

        // Create a Map with a basemap, to be used with in the main view
        var mainMap = new Map({
            basemap: "hybrid",
            ground: "world-elevation"
        });

        // Create another Map, to be used in the overview "view"
        var overviewMap = new Map({
            basemap: "streets"
        });

        // Create the SceneView
        var mainView = new SceneView({
            container: "viewDiv",
            map: mainMap,
            camera: {
                position: {
                    x: 107,
                    y: 21,
                    z: 9000000
                },
                tilt: 10,
                heading: 0
            }

        });


        // 1-1.Create a point
        var areapoint_Hulbr = new Point(
                {longitude: 119.75307, latitude: 49.20679 }
        );
        // 1-2.Create a symbol for drawing the point
        var markerSymbol = new SimpleMarkerSymbol({
            color: [226, 119, 40],
            outline: {
                color: [255, 255, 255],
                width: 1
            }
        });
        // 1-2.1 Create attributes
        var attr_Hulbr = {
            Area: "呼伦贝尔农垦",
            Hectare: "300万公顷",
            Info: "呼伦贝尔农垦集团拥有众多特色和优势：" +
            "一、资源丰富，有施业区面积3万平方公里，" +
            "分布在呼伦贝尔9个旗市区境内，拥有600万亩耕地、1000万亩草场、40万亩林地、13万亩水面；" +
            "二、规模大，辖24个县团级现代化农牧场和27个企事业单位，总人口17万，其中各类从业人员7.4万；" +
            "三、组织化程度高，企业实行准军事化管理模式，是全国仅有的规模化、集约化垦区之一；" +
            "四、农牧业机械装备能力强，采用世界最先进的大型农机设备为主，总动力74.2万千瓦，田间农业综合机械化水平达95%；" +
            "五、科技实力雄厚，有各类专业技术人员4263人，农业科技贡献率71.38%，处于全国领先水平；" +
            "六、区位优越，生态良好，适宜打造绿色有机农产品基地。"
        };
        // 1-2.2 Create pop-up template
        var popupTemp_Hulbr = {
            title: "{Area}",
            content: "<h3>土地面积：<b>{Hectare}</b></h3>"+
                    "相关信息：<p>{Info}</p>"
        };
        // 1-3.Create a graphic and add the geometry and symbol to it
        var pointGraphic_Hulbr = new Graphic({
            geometry: areapoint_Hulbr,
            symbol: markerSymbol,
            attributes: attr_Hulbr,
            popupTemplate: popupTemp_Hulbr
        });
        // 1-4.Add the graphic to the view
        mainView.graphics.add(pointGraphic_Hulbr);


        function add_ill_tree(lng,lat){
            var tp = new Point({longitude: lng, latitude: lat});
            var webStyleSymbol_ill = new WebStyleSymbol({
                name: "Other",
                portal: {
                url: "https://www.arcgis.com"
                },
                styleName: "EsriRealisticTreesStyle"
            });
            var sur = Math.round(Math.random()*3000)/100;
            var attr_tree = {
                lng: lng,
                lat: lat,
                survive: sur
            };
            // Create pop-up template
            var popupTemp_tree = {
                title: "病树位置",
                content: "<h5>经度：<b>{lng}</b></h5>" +
                "<h5>纬度：<b>{lat}</b></h5>" +
                "<h5>健康度：<b>{survive}%</b></h5>"
            };
            var ptGra = new Graphic({
                geometry: tp,
                symbol: webStyleSymbol_ill,
                attributes: attr_tree,
                popupTemplate: popupTemp_tree
            });
            mainView.graphics.add(ptGra);

        }

        /*
            Area Outline
         */

        // 3-1.Create a polygon geometry
        // 3-2.Create a symbol for rendering the graphic
        // 3-3.Add the geometry and symbol to a new graphic
        // 3-4.Add the graphic to the view
        function add_polygon_area(cur_area){
            var fillSymbol_area = new SimpleFillSymbol({
                color: [255, 127, 36, 0.5],
                outline: {
                    color: [255, 255, 255],
                    width: 1
                }
            });
            var temp_polygon_area = new Polygon({
                rings: [cur_area]
            });
            var temp_polygonGraphic_area = new Graphic({
                geometry: temp_polygon_area,
                symbol: fillSymbol_area
            });
            mainView.graphics.removeAll();
            mainView.graphics.add(temp_polygonGraphic_area);
        }
        function add_polygon_block(cur_block){
            var fillSymbol_block = new SimpleFillSymbol({
                color: [0, 191, 255, 0.2],
                outline: {
                    color: [65, 105, 225],
                    width: 2
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block
            });
            mainView.graphics.removeAll();
            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function add_polygon_block_noclear(cur_block){
            var fillSymbol_block = new SimpleFillSymbol({
                color: [0, 191, 255, 0.2],
                outline: {
                    color: [65, 105, 225],
                    width: 2
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block
            });
            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function add_polygon_block_nocolor(cur_block){
            var fillSymbol_block_nocolor = new SimpleFillSymbol({
                color: [0, 0, 0, 0],
                outline: {
                    color: [65, 105, 225],
                    width: 2
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block_nocolor
            });
            mainView.graphics.removeAll();
            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function add_polygon_block_warn(cur_block){
            var fillSymbol_block_warn = new SimpleFillSymbol({
                color: [255, 0, 0, 0.5],
                outline: {
                    color: [255, 0, 0],
                    width: 2
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block_warn
            });

            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function add_polygon_block_ng(cur_block){
            var fillSymbol_block_warn = new SimpleFillSymbol({
                color: [255, 255, 0, 0.5],
                outline: {
                    color: [255, 255, 0],
                    width: 2
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block_warn
            });

            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function add_polygon_block_ok(cur_block){
            var fillSymbol_block_warn = new SimpleFillSymbol({
                color: [10, 255, 10, 0.3],
                outline: {
                    color: [255, 255, 255],
                    width: 2
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block_warn
            });

            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function remove_polygon_all(){
            mainView.graphics.removeAll();
        }
        function add_polygon_block_500(cur_block){
            var fillSymbol_block_warn = new SimpleFillSymbol({
                color: [255, 255, 0, 0.5],
                outline: {
                    color: [255, 255, 0],
                    width: 3
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block_warn
            });

            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function add_polygon_block_800(cur_block){
            var fillSymbol_block_warn = new SimpleFillSymbol({
                color: [255,130,71, 0.5],
                outline: {
                    color: [255,130,71],
                    width: 3
                }
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block_warn
            });

            mainView.graphics.add(temp_polygonGraphic_block);
        }
        function add_polygon_Cell(cur_block,cur_Cell,area,block,Cell){
            var fillSymbol_Cell = new SimpleFillSymbol({
                color: [0, 255, 127, 0.2],
                outline: {
                    color: [0, 255, 127],
                    width: 1
                }
            });
            var fillSymbol_block = new SimpleFillSymbol({
                color: [0, 0, 0, 0],
                outline: {
                    color: [65, 105, 225],
                    width: 2
                }
            });
            var temp_polygon_Cell = new Polygon({
                rings: [cur_Cell]
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var trees = Math.round(Math.random()*1000)+1500;
            var ill_trees = Math.round(Math.random()*10);
            var pertemp = Math.round((ill_trees/trees)*100)/100;
            var nwp = cur_Cell[0],sep = cur_Cell[2];
            //alert(nwp+"|"+nwp[0]+","+nwp[1]);
            var attr_Cell = {
                Area: area,
                Block: block,
                Cell: Cell,
                Tree_name: "棕榈树",
                Tree_count: trees,
                Ill_Tree_count: ill_trees,
                ILL_percent: pertemp+"%",
                north:Math.round(nwp[1]*10000)/10000,
                south:Math.round(sep[1]*10000)/10000,
                west:Math.round(nwp[0]*10000)/10000, 
                east:Math.round(sep[0]*10000)/10000
            };

            var popupTemp_Cell = {
                title: "{Area}地块{Block}区域{Cell}",
                content: "<h5>树种：{Tree_name}</h5>" +
                "<h5>程度：{Tree_count}</h5>" +
                "<h5>病数：{Ill_Tree_count}</h5>" +
                "<h5>比例：{ILL_percent}</h5>" +
                "<h5>经度范围：{west} —— {east}</h5>" +
                "<h5>纬度范围：{south} —— {north}</h5>"
            };
            var temp_polygonGraphic_Cell = new Graphic({
                geometry: temp_polygon_Cell,
                symbol: fillSymbol_Cell,
                attributes: attr_Cell,
                popupTemplate: popupTemp_Cell
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block
            });
            mainView.graphics.removeAll();
            mainView.graphics.add(temp_polygonGraphic_block);
            mainView.graphics.add(temp_polygonGraphic_Cell);
        }


        function add_polygon_Cell_a(cur_block,cur_Cell,stat,sq,illsq,area,block,Cell){
            var fillSymbol_Cell_ok = new SimpleFillSymbol({
                color: [0, 255, 127, 0.6],
                outline: {
                    color: [0, 255, 127],
                    width: 1
                }
            });
            var fillSymbol_Cell_ng = new SimpleFillSymbol({
                color: [255, 255, 0, 0.6],
                outline: {
                    color: [255, 255, 0],
                    width: 1
                }
            });
            var fillSymbol_Cell_warn = new SimpleFillSymbol({
                color: [255, 128, 0, 0.6],
                outline: {
                    color: [255, 128, 0],
                    width: 1
                }
            });
            var fillSymbol_Cell_danger = new SimpleFillSymbol({
                color: [255, 0, 0, 0.6],
                outline: {
                    color: [255, 0, 0],
                    width: 1
                }
            });
            var fillSymbol_block = new SimpleFillSymbol({
                color: [127, 255, 127, 0.4],
                outline: {
                    color: [255, 255, 255],
                    width: 2
                }
            });

            var temp_polygon_Cell = new Polygon({
                rings: [cur_Cell]
            });
            var temp_polygon_block = new Polygon({
                rings: [cur_block]
            });
            var trees = Math.round(sq*0.015);
            var ill_trees = Math.round(illsq*0.015);
            var pertemp = Math.round((ill_trees/trees)*10000)/100;
            var fillSymbol_Cell;
            if(pertemp>=70){
                fillSymbol_Cell = fillSymbol_Cell_danger
            }
            else if(pertemp >= 50){
                fillSymbol_Cell = fillSymbol_Cell_warn
            }
            else if(pertemp >= 30){
                fillSymbol_Cell = fillSymbol_Cell_ng
            }
            else{
                fillSymbol_Cell = fillSymbol_Cell_ok
            }
            var nwp = cur_Cell[0],sep = cur_Cell[2];
            //alert(nwp+"|"+nwp[0]+","+nwp[1]);
            var attr_Cell = {
                Area: area,
                Block: block,
                Cell: Cell,
                Tree_name: "水稻",
                Tree_count: trees,
                Ill_Tree_count: ill_trees,
                ILL_percent: pertemp+"%",
                north:Math.round(nwp[1]*10000)/10000,
                south:Math.round(sep[1]*10000)/10000,
                west:Math.round(nwp[0]*10000)/10000,
                east:Math.round(sep[0]*10000)/10000
            };

            var popupTemp_Cell = {
                title: "{Area}地块{Block}区域{Cell}",
                content: "<h5>作物：{Tree_name}</h5>" +
                "<h5>单元面积：{Tree_count}亩</h5>" +
                "<h5>异常面积：{Ill_Tree_count}亩</h5>" +
                "<h5>比例：{ILL_percent}</h5>" +
                "<h5>经度范围：{west} —— {east}</h5>" +
                "<h5>纬度范围：{south} —— {north}</h5>"
            };
            var temp_polygonGraphic_Cell = new Graphic({
                geometry: temp_polygon_Cell,
                symbol: fillSymbol_Cell,
                attributes: attr_Cell,
                popupTemplate: popupTemp_Cell
            });
            var temp_polygonGraphic_block = new Graphic({
                geometry: temp_polygon_block,
                symbol: fillSymbol_block
            });
            mainView.graphics.removeAll();
            mainView.graphics.add(temp_polygonGraphic_block);
            mainView.graphics.add(temp_polygonGraphic_Cell);
        }




        var area_Hulbr = [[],[],[],[]];
        var Hulbr_T = [
           [120.07245, 49.58269], [119.89758, 49.51155], [120.12378, 49.44103], [120.14865, 49.34821], [120.36725, 49.32732],  [120.46371, 49.46929],
                 [120.76697, 49.65737],  [120.63626, 49.71756],  [120.53262, 49.61698],  [120.22015, 49.56395]
        ];
        var Hulbr_X = [
			[119.8371, 49.37238], [119.89758, 49.51155], [120.12378, 49.44103], [120.14865, 49.34821], [120.20254, 49.29668],
			[120.1571, 49.19456], [120.09322, 49.19692], [120.04235, 49.26148], [119.86629, 49.28059]
        ];
        var Hulbr_X_01 = [
            [120.10229, 49.28213], [120.12448, 49.28228], [120.12145, 49.30233], [120.12915, 49.30368], [120.16373, 49.30282],
            [120.16721, 49.29819], [120.18127, 49.30053], [120.19518, 49.29867], [120.19893, 49.28847], [120.16717, 49.26126],
            [120.1393, 49.25947], [120.13327, 49.27679], [120.105, 49.27357]
        ];
        var Hulbr_X_01_ng_01 = [
            [120.13643, 49.27924], [120.14499, 49.28059], [120.14537, 49.27992], [120.14502, 49.27944], [120.13684, 49.27809]
        ];
        var Hulbr_X_01_ng_02 = [
            [120.13701, 49.27221], [120.13734, 49.27278], [120.13818, 49.2726], [120.13837, 49.27186], [120.138, 49.27153],
            [120.13713, 49.27181]
        ];
        var Hulbr_X_01_ng_03 = [
            [120.17155, 49.27458], [120.17224, 49.27488], [120.17276, 49.27466], [120.17289, 49.27402], [120.17243, 49.27378],
            [120.17164, 49.27409]
        ];
        var Hulbr_X_01_ng_04 = [
            [120.16012, 49.27244],  [120.16095, 49.27242], [120.16118, 49.27184], [120.16039, 49.27161]
        ];
        var Hulbr_X_01_ng_05 = [
            [120.1633, 49.27321],  [120.16415, 49.27363],  [120.16488, 49.27374], [120.16513, 49.27289], [120.16402, 49.27278]
        ];
        var Hulbr_X_01_ng_06 = [
            [120.17402, 49.27533], [120.17433, 49.27573], [120.17535, 49.27582], [120.17601, 49.27554], [120.17622, 49.27501],
            [120.17547, 49.27449], [120.17413, 49.27499]
        ];
        var Hulbr_X_01_warn_01 = [
            [120.13583, 49.27564], [120.13735, 49.27607], [120.13783, 49.27527], [120.13742, 49.27457], [120.13599, 49.27534]
        ];
        var Hulbr_X_01_warn_02 = [
            [120.16607, 49.27521], [120.16791, 49.27513], [120.16822, 49.27413], [120.16772, 49.2738], [120.16644, 49.27433]
        ];
        var Hulbr_X_02 = [
			[120.08365, 49.21532], [120.08618, 49.22488], [120.09692, 49.23284], [120.10468, 49.23314], [120.12356, 49.22719],
			[120.13205, 49.23155], [120.13873, 49.23137], [120.15146, 49.2263], [120.15416, 49.21162], [120.14757, 49.21002],
            [120.14983, 49.20379], [120.13146, 49.19925], [120.1112, 49.19688], [120.09793, 49.19829]
        ];
        var Hulbr_X_02_ng_01 = [
            [120.12555, 49.22227], [120.13963, 49.22456], [120.14218, 49.21414],  [120.12796, 49.21266]
        ];
        var Hulbr_X_02_warn_01 = [
             [120.12909, 49.21269], [120.13593, 49.2134],   [120.13834, 49.20433], [120.13153, 49.20367]
        ];
        var Hulbr_X_03 = [
			[119.99632, 49.31827], [119.99754, 49.32092], [120.04242, 49.33583], [120.07303, 49.29549],
			[120.04149, 49.28475], [120.03449, 49.28536], [120.01686, 49.29166]
        ];
        var Hulbr_X_03_ng_01 = [
            [120.03296, 49.32354], [120.03587, 49.32448], [120.03829, 49.32092], [120.03535, 49.31996]
        ];
        var Hulbr_X_03_ng_02 = [
            [120.04237, 49.31849], [120.05224, 49.32188], [120.05495, 49.31843], [120.04492, 49.31513]
        ];
        var Hulbr_X_03_ng_03 = [
            [120.03508, 49.29518], [120.0451, 49.29855], [120.04575, 49.2977], [120.0356, 49.2944]
        ];
        var Hulbr_X_03_warn_01 = [
            [120.03538, 49.3199], [120.04015, 49.3215], [120.04218, 49.31856], [120.03744, 49.31696]
        ];
        var Hulbr_X_03_warn_02 = [
            [120.03197, 49.29818], [120.04256, 49.30173], [120.0451, 49.29855], [120.03508, 49.29518], [120.03427, 49.29651]
        ];


        mainView.then(function() {

        });

        // Create the MapView for overview map
        var mapView = new MapView({
            container: "overviewDiv",
            map: overviewMap
        });

        // Remove the default widgets
        mapView.ui.components = [];

        var extentDiv = dom.byId("extentDiv");

        mapView.then(function() {
            // Update the overview extent whenever the MapView or SceneView extent changes
            mainView.watch("extent", updateOverviewExtent);
            mapView.watch("extent", updateOverviewExtent);

            // Update the minimap overview when the main view becomes stationary
            watchUtils.when(mainView, "stationary", updateOverview);

            function updateOverview() {
                // Animate the MapView to a zoomed-out scale so we get a nice overview.
                // We use the "progress" call back of the goTo promise to update
                // the overview extent while animating
                mapView.goTo({
                    center: mainView.center,
                    scale: mainView.scale * 2 * Math.max(mainView.width /
                        mapView.width,
                        mainView.height / mapView.height)
                });
            }

            function updateOverviewExtent() {
                // Update the overview extent by converting the SceneView extent to the
                // MapView screen coordinates and updating the extentDiv position.
                var extent = mainView.extent;

                var bottomLeft = mapView.toScreen(extent.xmin, extent.ymin);
                var topRight = mapView.toScreen(extent.xmax, extent.ymax);

                extentDiv.style.top = topRight.y + "px";
                extentDiv.style.left = bottomLeft.x + "px";

                extentDiv.style.height = (bottomLeft.y - topRight.y) + "px";
                extentDiv.style.width = (topRight.x - bottomLeft.x) + "px";
            }
        });
        // Create a BasemapGallery widget instance and set
        // its container to a div element

        var basemapGallery = new BasemapGallery({
            view: mainView,
            container: document.createElement("div")
        });

        // Create an Expand instance and set the content
        // property to the DOM node of the basemap gallery widget
        // Use an Esri icon font to represent the content inside
        // of the Expand widget

        var bgExpand = new Expand({
            view: mainView,
            content: basemapGallery.domNode,
            expandIconClass: "esri-icon-basemap"
        });

        // Add the expand instance to the ui

        mainView.ui.add(bgExpand, "top-right");


        on(dojo.query("#Demo_Area_Hulbr_loc"), "click", function() {
            mainView.goTo({position: [ 119.76421, 48.698,20000], heading: 0, tilt: 70});
            add_polygon_area(area_Hulbr);
        });
        on(dojo.query("#Demo_Area_Hulbr_T_outline"), "click", function() {
            mainView.goTo({position: [120.45509, 49.53203,100000], heading: 0, tilt: 0});
            add_polygon_area(Hulbr_T);
        });

        on(dojo.query("#Demo_Area_Hulbr_X_outline"), "click", function() {
            mainView.goTo({position: [119.91127, 49.29892,100000], heading: 0, tilt: 0});
            add_polygon_area(Hulbr_X);
        });
        on(dojo.query("#Demo_Cell_Hulbr_X_01_loc"), "click", function() {
            mainView.goTo({position: [120.15175, 49.27933,10000], heading: 0, tilt: 0});
            add_polygon_block(Hulbr_X_01);
        });
        on(dojo.query("#Demo_Cell_Hulbr_X_01_info"), "click", function() {
            remove_polygon_all();
            add_polygon_block_ok(Hulbr_X_01);
            add_polygon_block_warn(Hulbr_X_01_warn_01);
            add_polygon_block_warn(Hulbr_X_01_warn_02);
            add_polygon_block_ng(Hulbr_X_01_ng_01);
            add_polygon_block_ng(Hulbr_X_01_ng_02);
            add_polygon_block_ng(Hulbr_X_01_ng_03);
            add_polygon_block_ng(Hulbr_X_01_ng_04);
            add_polygon_block_ng(Hulbr_X_01_ng_05);
            add_polygon_block_ng(Hulbr_X_01_ng_06);
        });
        on(dojo.query("#Demo_Cell_Hulbr_X_02_loc"), "click", function() {
            mainView.goTo({position: [120.12776, 49.21268,10000], heading: 0, tilt: 0});
            add_polygon_block(Hulbr_X_02);
        });
        on(dojo.query("#Demo_Cell_Hulbr_X_02_info"), "click", function() {
            remove_polygon_all();
            add_polygon_block_ok(Hulbr_X_02);
            add_polygon_block_warn(Hulbr_X_02_warn_01);
            add_polygon_block_ng(Hulbr_X_02_ng_01);

        });
        on(dojo.query("#Demo_Cell_Hulbr_X_03_loc"), "click", function() {
            mainView.goTo({position: [120.03562, 49.30868,10000], heading: 0, tilt: 0});
            add_polygon_block(Hulbr_X_03);
        });
        on(dojo.query("#Demo_Cell_Hulbr_X_03_info"), "click", function() {
            remove_polygon_all();
            add_polygon_block_ok(Hulbr_X_03);
            add_polygon_block_warn(Hulbr_X_03_warn_01);
            add_polygon_block_warn(Hulbr_X_03_warn_02);
            add_polygon_block_ng(Hulbr_X_03_ng_01);
            add_polygon_block_ng(Hulbr_X_03_ng_02);
            add_polygon_block_ng(Hulbr_X_03_ng_03);
        });


        mainView.on('click', function(evt){
           if(evt.mapPoint){
               var x = Math.round(evt.mapPoint.longitude * 100000)/100000;
               var y = Math.round(evt.mapPoint.latitude * 100000)/100000;
               var z = Math.round(evt.mapPoint.z * 100)/100;
               var loc = document.getElementById("curloc");
               loc.innerHTML = '鼠标单击位置：经纬度 [' + x + ', ' + y + '], 海拔' + z + 'm';
           }
        });

        istoGround = false;
        on(dojo.query("#toGround"), "click", updateElevation);
        function updateElevation(ev) {
          // Turn ground layers visibility on/off
          mainMap.ground.layers.forEach(function(layer) {
            layer.visible = istoGround;
              if(!istoGround){
                  istoGround = true;
              }else if(istoGround){
                  istoGround = false;
              }else{
                  istoGround = undefined
              }
          });
        }
    });

    </script>

</head>

<body>
    <div id="viewDiv">
    </div>
    {% include 'InfoDiv.html' %}
    <div id="curcordDiv">
        <p id="curloc">鼠标单击位置：经纬度( ---.----, ---.---- ), 海拔---.--m</p>
    </div>
    <div id="overviewDiv">
        <div id="extentDiv"></div>
    </div>
    {% include 'LIstDiv.html' %}

</body>
</html>