<div class="card-lightgreen">
    <h4>飞行任务天气记录</h4>
    <table id="flight_weather"  width="100%">
        <tr class="table_date"><td>作业时间</td><td>{{ f_date }}</td></tr>
        <tr><td>天气</td><td>{{ f_weather }}</td></tr>
        <tr><td>温度</td><td>{{ f_temperature }}</td></tr>
        <tr><td>风向</td><td>{{ f_winddir }}</td></tr>
        <tr><td>风力</td><td>{{ f_windpower }}</td></tr>
        <tr><td>湿度</td><td>{{ f_humidity }}</td></tr>
    </table>
</div>
<div class="card-lightgreen">
    <h4>实时天气</h4>
    <table id="realtime_wrather"  width="100%">
        <tr class="table_date"><td>发布时间</td><td></td></tr>
        <tr><td>天气</td><td></td></tr>
        <tr><td>温度</td><td></td></tr>
        <tr><td>风向</td><td></td></tr>
        <tr><td>风力</td><td></td></tr>
        <tr><td>湿度</td><td></td></tr>
    </table>
</div>
<div class="card-lightgreen">
    <h4>天气预报</h4>
    <table id="forcast_weather" width="100%">
        <tr><td>发布时间</td><td></td></tr>
        <tr class="table_date"><td>日期</td><td></td></tr>
        <tr><td>天气</td><td></td></tr>
        <tr><td>温度</td><td></td></tr>
        <tr><td>风向</td><td></td></tr>
        <tr><td>风力</td><td></td></tr>
        <tr class="table_date"><td>日期</td><td></td></tr>
        <tr><td>天气</td><td></td></tr>
        <tr><td>温度</td><td></td></tr>
        <tr><td>风向</td><td></td></tr>
        <tr><td>风力</td><td></td></tr>
        <tr class="table_date"><td>日期</td><td></td></tr>
        <tr><td>天气</td><td></td></tr>
        <tr><td>温度</td><td></td></tr>
        <tr><td>风向</td><td></td></tr>
        <tr><td>风力</td><td></td></tr>
        <tr class="table_date"><td>日期</td><td></td></tr>
        <tr><td>天气</td><td></td></tr>
        <tr><td>温度</td><td></td></tr>
        <tr><td>风向</td><td></td></tr>
        <tr><td>风力</td><td></td></tr>
    </table>
</div>
